# Unreal Engine folders to ignore
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/

# Visual Studio files
*.sln
*.suo
*.user
*.userosscache
*.sdf
*.VC.db
*.VC.opendb

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
desktop.ini

# Backup files
*.log
*.tmp
*.bak
*.orig

# Crash reports
*.dmp

# Compiled assets
*.pdb
*.obj
*.exe
*.dll
*.app
*.lib
*.apk
*.ipa

# Build artifacts
Build/